*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.run.xml

out
WIP/*
WIP/IO_Protocoll_v1.txt

**/__pycache__/*
**/.idea/*
**/.vscode/*

cmake-build-debug
tools/VTR-toolchain/VTR/*

**/*-backups/*
*.~lock
*.swp
*.out
*.log
/paper/HandBuch/.fuse_hidden0000032d00000001
/paper/HandBuch/.fuse_hidden000002fe00000001
