paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.synctex.gz
paper/*.toc
paper/*.run.xml
out
WIP/*
WIP/IO_Protocoll_v1.txt
.idea/runConfigurations/HandBuch.xml

.vscode

*.out
*.log
